@import './variables';
@import "card";
@import "utils";

.App-logo {
  height: 4vmin;
}

.Navigation-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $space-cadet;
  padding: 16px;
  .app-name {
    margin: 0;
    color: $manatee;
  }
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 16px 0;
  justify-content: center;
  a{
    width: calc(25% - 2rem);
    margin: 0 1rem 1rem 0;
  }
}

.footer-container {
  width: 100%;
  padding: 14px;
  background-color: $space-cadet;
  color: $manatee;
  position: fixed;
  bottom: 0;
  left: 0;
}


.home-container, .productPage-container {
  margin: 0 8px;
  padding-top: 100px;
  height: calc(100% - 100px);

  .back-button{
    font-size: 1.5rem;
    padding: 16px;
  }
}

.productPage-container {
margin: 0 32px;
}
